body {
    background-color: royalblue;
    font-family: sans-serif;
    color:rgb(13, 3, 3)
}

.current{
    color:red;
}       

img{
    width: 100%;
}



a {
text-decoration: none;
background-color: whitesmoke;
display: inline-block;
padding: 0.5rem;
border-radius: 0.5rem;
box-shadow: 1rem 1rem 1rem ;}